body {
  margin: 0;
  min-height: 100vh;

  background-image: url('../img/fond.jpg');
  background-size: cover;

  color: #eacedd;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
h1 {
  font-size: 3rem;
  font-family: 'Cantata One', serif;
  letter-spacing: 8px;
  text-shadow: 1px 1px 3px #122c08;
}
h1 span {
  border-top: 1px solid #eacedd;
  border-bottom: 1px solid #eacedd;
}
p {
  color: white;
  text-shadow: 1px 1px 3px #122c08;
  font-size: 1.5rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.morpion {
  display: flex;
  flex-direction: column;

  width: 70vh;
  height: 70vh;
  border: 1.5px solid #eacedd;
  background: rgba(237, 181, 208, 0.9);
}

.row {
  flex: 1;
  display: flex;
}
.cell {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #eacedd;
}



.cross {
  background-image: url('../img/cross.png');
  background-size: cover;
}
.circle {
  background-image: url('../img/circle.png');
  background-size: cover;
}





.message {
  position: absolute;
  top: 40vh;
  left: 37vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25vw;
  background: #85af9c;
  box-shadow: 2px 2px 5px black;
  box-sizing: border-box;
}
.message p {
  font-size: 2rem;
  margin: 0;
  margin-top: 20px;
}
.message button {
  background-color: white;
  border: none;
  padding: 15px 32px;
  margin: 20px;
  text-align: center;
  font-size: 1rem;
}
